
<div class="criar-nota nota-unidade" id="criar-nota-modal"
	data-toggle="modal" data-target="#criar-nota-modal-group"
	ng-click="habilitarNovaNota()">
	<h4>Adicione uma nova nota</h4>
</div>

<div ng-blur="blurNovaNota()" class="modal fade"
	id="criar-nota-modal-group" tabindex="-1" role="dialog"
	aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content" ng-style="{'background-color' : nota.cor}">

			<div class="modal-header">
				<div id="inputCriarNotaTitulo" class="nota-heading"
					contenteditable="true" ng-model="nota.tlNota"
					ng-click="habilitarNovaNotaTitulo()" ng-blur="blurNovaNotaTitulo()" ng-keyup="habilitaConcluir()"></div>
			</div>

			<div class="modal-body">
				<div id="inputCriarBody" class="nota-body" contenteditable="true"
					ng-model="nota.deNota" ng-click="habilitarNovaNotaCorpo()" ng-blur="blurNovaNotaCorpo()" ng-keyup="habilitaConcluir()"></div>
			</div>

			<div class="modal-footer">
					<!-- 						Paleta de cores -->
					<a class="btn-nota-menu" ng-click="habilitarPaletaNota(nota)">
						<i class="fa fa-google-wallet" aria-hidden="true"></i>
					</a>

					<!-- 						Grupos -->
					<a class="btn-nota-menu" ng-click="habilitarListaDeGrupos(nota)">
						<i class="fa fa-tags" aria-hidden="true"></i>
					</a>

					<!-- Paleta nota -->
					<div class="nota-paleta nota-unidade"
						ng-show="activePaletaNotaNovo">
						<div class="col-xs-3">
							<div class="red-nota paleta-cor" ng-click="novaCor(this)"></div>
						</div>
						<div class="col-xs-3">
							<div class="yellow-nota paleta-cor" ng-click="novaCor(this)"></div>
						</div>
						<div class="col-xs-3">
							<div class="green-nota paleta-cor" ng-click="novaCor(this)"></div>
						</div>
						<div class="col-xs-3">
							<div class="blue-nota paleta-cor" ng-click="novaCor(this)"></div>
						</div>
						<div class="col-xs-3">
							<div class="purple-nota paleta-cor" ng-click="novaCor(this)"></div>
						</div>
						<div class="col-xs-3">
							<div class="pink-nota paleta-cor" ng-click="novaCor(this)"></div>
						</div>
						<div class="col-xs-3">
							<div class="flesh-nota paleta-cor" ng-click="novaCorr(this)"></div>
						</div>
						<div class="col-xs-3">
							<div class="white-nota paleta-cor" ng-click="novaCor(this)"></div>
						</div>
					</div>

					<!-- Lista de Grupos -->
					<div class="nota-grupos nota-unidade"
						ng-show="activeListaGruposNovos">
						<div id="listagem-nota" class="container">
							<div class="btn btn-grupo"
								style="margin: 0; padding: 5px; text-align: left;"
								ng-repeat="grupo in grupos | orderBy: 'idGrupo' "
								ng-class-odd="'alt'" ng-click="manipularGrupoNota(grupo, this)">
								<i class="fa fa-tag" aria-hidden="true"
									style="margin-right: 5px;"></i>{{grupo.noGrupo}}
							</div>
						</div>
					</div>
				<button id="inputCriarConcluir" class="nota-concluir btn-danger"
					ng-click="criarNota(nota)" ng-disabled="!nota.atvNota && !nota.atvDeNota">Concluir</button>
			</div>
		</div>
	</div>
</div>