



<div ng-controller="cadastrarContatoController" onload="initMap()">


	<div class="page-header">
		<h1>{{app}}</h1>
	</div>



	<form name="veiculoForm">
		<div class="form-group row">
			<label for="inputNome" class="col-sm-1 col-form-label">Nome:</label>
			<div class="col-sm-8">
				<div class="input-group">
					<span class="input-group-addon"> <span
						class="glyphicon glyphicon-user"></span>
					</span> <input class="form-control" ng-model="contato.noContato"
						id="inputNome" placeholder="Nome" ng-required="true">

				</div>
			</div>

		</div>
		<div class="form-group row">
			<label for="inputEmail" class="col-sm-1 col-form-label">Email:</label>
			<div class="col-sm-8">
				<div class="input-group">
					<span class="input-group-addon" id="start-date"><span
						class="glyphicon glyphicon-envelope"></span></span> <input type="email"
						class="form-control" ng-model="contato.email" id="inputEmail"
						placeholder="Email" ng-required="true">
				</div>
			</div>
		</div>


		<div class="form-group row">
			<div>
				<label for="inputEnd" class="col-sm-1 col-form-label">CEP:</label>
				<div class="col-sm-4">
					<div class="input-group">
						<span class="input-group-addon" id="cep"><span
							class="glyphicon glyphicon-inbox"></span></span> <input
							class="form-control" ng-model="contato.cep" id="inputEnd"
							placeholder="CEP" ng-required="true">
					</div>
				</div>
				<div class="col-sm-4">
					<button type="button" ng-click="buscarCep(contato)"
						class=" btn btn-primary">Buscar</button>
				</div>
			</div>
		</div>

		<div class="form-group row">

			<label for="inputbairro" class="col-sm-1 col-form-label">Bairro</label>
			<div class="col-sm-4">
				<div class="input-group">
					<span class="input-group-addon" id="start-date"><span
						class="glyphicon glyphicon-flag"></span></span> <input type="text"
						class="form-control" ng-blur="mudaMapa()"
						ng-model="contato.bairro" id="inputbairro" placeholder="Bairro"
						ng-required="true">
				</div>
			</div>
		</div>
		<div class="form-group row">
			<label for="inputCidade" class="col-sm-1 col-form-label">Cidade</label>
			<div class="col-sm-4">
				<div class="input-group">
					<span class="input-group-addon" id="start-date"><span
						class="glyphicon glyphicon-tent"></span></span> <input type="text"
						class="form-control" ng-blur="mudaMapa()"
						ng-model="contato.cidade" id="inputCidade" placeholder="Cidade"
						ng-required="true">
				</div>
			</div>
		</div>
		<div class="form-group row">
			<label for="inputCidade" class="col-sm-1 col-form-label">UF</label>
			<div class="col-sm-4">
				<div class="input-group">
					<span class="input-group-addon" id="start-date"><span
						class="glyphicon glyphicon-map-marker"></span></span> <input type="text"
						class="form-control" ng-blur="mudaMapa()" ng-model="contato.uf"
						id="inputCidade" placeholder="UF" ng-required="true">
				</div>
			</div>
		</div>



		<div class="form-group row">
			<label for="inputEnd" class="col-sm-1 col-form-label">Logradouro:</label>
			<div class="col-sm-8">
				<div class="input-group">
					<span class="input-group-addon" id="start-date"><span
						class="glyphicon glyphicon-road"></span></span> <input
						class="form-control" ng-model="contato.logradouro"
						ng-blur="mudaMapa()" id="inputEnd"
						placeholder="Exemplo: Rua Amaral Peixoto 43" ng-required="true">
				</div>
			</div>
		</div>

		<div class="form-group row">
			<label for="inputEnd" class="col-sm-1 col-form-label">Obs:</label>
			<div class="col-sm-8">
				<div class="input-group">
					<span class="input-group-addon" id="start-date"><span
						class="glyphicon glyphicon-globe"></span></span> <input
						class="form-control" ng-model="contato.complemento" id="inputEnd"
						placeholder="Exemplo: Apartamento 402, Bloco 4" ng-required="true">
				</div>
			</div>
		</div>

		<div class=" form-group row " ng-show="mostraMapa">
			<div class="col-sm-9">
				<legend>Localidade</legend>
				<div class="col-sm-9 center">
					<div id="map" class="embed-responsive embed-responsive-16by9"
						ng-show="mostraMapa"></div>
				</div>
			</div>
		</div>

		<div class='form-horizontal'>
			<fieldset>

				<legend>Telefones</legend>
				<div class="form-group row">
					<div class="col-sm-4">
						<button type="button" ng-click="addTelefone()"
							class=" btn btn-primary">Adicionar outro</button>
					</div>
				</div>
				<div ng-repeat="telefone in contato.listaTelefones">


					<div class="form-group row">
						<label for="inputEnd" class="col-sm-1 col-form-label">Tipo:</label>
						<div class="col-sm-4">
							<div class="input-group">
								<span class="input-group-addon"> <span
									class="glyphicon glyphicon-menu-hamburger"></span>
								</span> <select ng-model="telefone.tipoTelefone" class="form-control"
									ng-required="true">
									<option value="" selected disabled>Selecione</option>
									<option value="fixo">Fixo</option>
									<option value="movel">Móvel</option>
								</select>
							</div>
						</div>

					</div>
					<div class="form-group row">
						<label for="inputEnd" class="col-sm-1 col-form-label">Numero:</label>
						<div class="col-sm-8">
							<div class="input-group">
								<span class="input-group-addon"> <span
									class="glyphicon glyphicon-earphone"></span>
								</span> <input class="form-control phone"
									ng-model="telefone.nuTelefone" id="inputTel" name="inputTel"
									placeholder="Numero" mask="(999) 999-9999" ng-required="true">
							</div>
						</div>
					</div>



					<hr>
				</div>
			</fieldset>
		</div>


		<hr>
		<div class="row">
			<div class="col-xs-6 col-sm-4"></div>
			<div class="col-xs-6 col-sm-4"></div>
			<div class="clearfix visible-xs-block"></div>
			<div class="col-xs-6 col-sm-4">
				<button type="button" ng-click="criarContato(contato)"
					ng-disabled="veiculoForm.$invalid" class=" btn btn-danger">Cadastrar</button>
				<button type="button" class="btn btn-danger">Limpar</button>
			</div>

		</div>
	</form>
</div>

