<div class="container">
	<h3>Notas</h3>
	<hr>
</div>
<div ng-controller="minhasNotasController">
	<div class="container row pesquisar-nota-box nota">


		<div class="input-group">
			<input id="inputPesquisaNota" placeholer="Pesquisa"
				ng-model="nota.tlNota" type="text" class="form-control"> <span
				class="input-group-btn">
				<button class="btn btn-default" type="button"
					ng-click="pesquisarNotas(nota)">Pesquisar</button>
			</span>
		</div>
	</div>

	<div class="container row cadastrar-nota-box nota">

		<div class="criar-nota nota-unidade">
			<div id="inputCriarNotaTitulo" class="nota-heading"
				contenteditable="true" ng-model="criaNota.tlNota"></div>
			<div class="nota-separador"></div>
			<div id="inputCriarNotaDesc" class="nota-body" contenteditable="true"
				ng-model="criaNota.deNota"></div>

			<div id="inputCriarConcluir" class="nota-footer"></div>
			<div id="inputCriarConcluir" class="nota-concluir"
				ng-click="criarNota(criaNota)">Concluir</div>
		</div>
	</div>

	<div class="container row listar-nota-box nota">
		<div ng-repeat="nota in notas | orderBy: 'idNota' "
			ng-class-odd="'alt'">
			<div class="col-xs-4 ">
				<div class="nota-unidade">

					<div class="clearfix">
						<div class="excluir-nota right btn" ng-click="deleteNota(nota)">
							<i class="fa fa-times" aria-hidden="true"> </i>
						</div>
						<div class="nota-heading left" contenteditable="true" ng-
							ng-model="nota.tlNota" ng-blur="editarNota(nota)">
							{{nota.tlNota}}</div>

					</div>
					<div class="nota-separador"></div>
					<div class="nota-body" onclick="$(this).find('input').focus();"
						contenteditable="true" ng-model="nota.deNota"
						ng-blur="editarNota(nota)">{{nota.deNota}}</div>
				</div>
			</div>
		</div>
	</div>

</div>