<div class="container">
	<h3>Notas</h3>
	<hr>
</div>
<div id="minhas-notas" ng-controller="minhasNotasController"
	ng-click="limparMessages()">

	<div class="col-xs-2" ng-include
		src="'views/partialsNotas/menuLateral.html'"></div>

	<div class="col-xs-10">

		<div class="container col-xs-12" ng-include
			src="'views/partialsNotas/pesquisarNotas.html'"></div>

		<div class="container col-xs-12" ng-include
			src="'views/partialsNotas/criarNotas.html'"></div>

		<div id="listagem-nota" class="container col-xs-12" ng-include
			src="'views/partialsNotas/listagemNotas.html'"></div>
	</div>
</div>